.main{
    margin-top: 150px;
    width: 100%;
}

.container-main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 150px;
    width: 80%;
    margin: auto;
}

/* Algumas váriaves criadas */
.line-height-1{
    line-height: 1rem;
}
.line-height-1-75{
    line-height: 1.75rem;
}
.line-height-2{
    line-height: 2rem;
}



#cont{
    text-align: center;
    font-size: 2rem;
    color: #fff;
}

.fale-apex{
    font-size: 2rem;
    text-align: left;
    margin-left: 4%;
    margin-top: 2.5%;
    color: #fff;
    text-wrap: nowrap;
}

.form-contato{
    margin-left: 4%;
}

.form-contato input{
    display: block;
    color: #fff;
    margin-bottom: 10px;
    width: 70%;
    background: none;
    border: none;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    outline: none;
    font-size: 1rem;
}

.form-contato .btn-enviar{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 0.8rem;
    margin-top: 20px;
    border-radius: 7px;
}
input:focus {
    width: 85%;
    transition: 0.5s;
    border-bottom: 3.5px solid #ff0909; /* Muda a cor da linha para branco */
}

.btn-enviar:hover{
    transition: 0.5s;
    background-color: #ff0909;
    color: #000;
}

.img-telefone{
    width: 35px;
    height: 35px;
}
.img-mail{
    width: 48px;
    height: 61px;
}
.img-gps{
    width: 35px;
    height: 40px;
}

.divisao-colunm-1{
    display: flex;
    gap: 10px;
}
.divisao-colunm-2{
    display: flex;
    gap: 10px;
}



@media (max-width: 1340px){
    #cont{
        font-size: 2.745rem;
    }

    .fale-apex{
        text-wrap: wrap;
        margin: auto;
        font-size: 1.5rem;
    }

    .container-colunm{
       margin: auto;
    }

    .divisao-colunm-1{
        margin-top: 10px;
    }

    .container-main{
        grid-template-columns: 1fr;
    }

    .form-contato{
        margin-top: 0%;
        margin-left: 4%;
        margin: auto;
    }

    .form-contato input{
        width: 100%;
    }

    .divisao-colunm-1, .divisao-colunm-2{
        text-align: start;
    }

    input:focus {
        width: 115%;
        transition: 0.5s;
        border-bottom: 3.5px solid #ff0909; /* Muda a cor da linha para branco */
    }
}

/*  */
@media (max-width: 768px){
    #cont{
        font-size: 2.745rem;
    }

    .form-contato{
        text-align: center;
        margin-left: 10px;
    }

    .fale-apex{
        font-size: 1.080rem;
        text-wrap: wrap;
    }

    .text-apex{
        font-size: 0.7rem;
        text-align: center;
    }

    .container-colunm{
        margin-bottom: 60px;
        font-size: 0.9rem;
    }

    .divisao-colunm-1{
        margin-top: 10px;
        font-size: 0.7rem;
    }

    .container-main{
        grid-template-columns: 1fr;
    }

    .form-contato{
        margin-top: 0%;
        margin-left: 4%;
        margin: auto;
    }

    .form-contato input{
        width: 90%;
        text-align: left;
        margin-top: 25px;
    }

    .divisao-colunm-1, .divisao-colunm-2{
        font-size: 0.7rem;
    }

    /* Ajeitar a parte de caso */

    .img-telefone{
        display: none;
    }
    .img-email{
        display: none;
    }
    .img-gps{
        display: none;
    }

    .btn-enviar{
        margin-right: 100%;
    }
}