.icon {
    display: flex;                /* Usar flexbox para centralização */
    justify-content: center;      /* Centralizar horizontalmente */
    align-items: center;          /* Centralizar verticalmente */
    height: 100px;                /* Defina uma altura para a div */
    width: 100px;                 /* Defina uma largura para a div */
    margin: auto;                 /* Centralizar a div na página, se necessário */
}

.userImg {
    margin-top: 300px;
    width: 120px;
    height: 120px; 
}

.textNameUser  {
    height: 64vh;                /* Define a altura da div para 100% da altura da tela */
    text-align: center;           /* Centraliza o texto dentro da div */
    margin-top: 200px;
}

.nameUser  {
    margin-bottom: 15px;
    font-size: 1.8em;
}

.textServicosAgendados {
    margin-bottom: 15px; 
    font-size: 1rem;
}

.containerdeservicos{
    width: 90vw;
    height: 300px;
    background-color: #373737;
    border-radius: 7px;
    margin: auto;
    margin-top: 25px;
}

.table-admin{
    background-color: #353535;
    color: #fff;
    width: 100%;
    text-align: center;
    border-collapse: separate;
    height: 100%;
}

.table-admin tbody {
    color: #fff;
}

.td-body{
    background-color: #000;
}

.table-admin thead{
    font-size: 1.35rem;
    background-color: #000;
}

.textFeito{
    text-align: right;
    font-size: 0.845rem;
    padding: 10px;
    margin-top: 20px;
}

.check-services{
    width: 30px;
    height: 30px;
    background-color: #000;
}

.button-img-check{
    background-color: #000; 
    border: none;
}


@media (max-width: 767px){
    .icon {
        display: flex;                /* Usar flexbox para centralização */
        justify-content: center;      /* Centralizar horizontalmente */
        align-items: center;          /* Centralizar verticalmente */
        width: 100px;                 /* Defina uma largura para a div */
        height: 80px;                /* Defina uma altura para a div */
        margin: auto;                 /* Centralizar a div na página, se necessário */
    }

    .userImg{
        width: 100px;
        height: 100px;
    }

    .nameUser  {
        margin-bottom: 7px;
        font-size: 1em;
    }
    
    .textServicosAgendados {
        margin-top: 7px; 
        font-size: 0.9rem;
    }

    .containerdeservicos{
        width: 85vw;
        height: 300px;
        background-color: #373737;
        border-radius: 7px;
        margin: auto;
        margin-top: -170px;
    }

    .table-admin{
        background-color: #353535;
        color: #fff;
        width: 100%;
        text-align: center;
        border-collapse: separate;
        height: 100%;
    }
    
    .table-admin tbody {
        color: #fff;
        font-size: 0.845rem;
    }
    
    .td-body{
        background-color: #000;
    }
    
    .table-admin thead{
        font-size: 1em;
        background-color: #000;
        font-weight: bold;
        text-decoration: underline;
    }

    .check-services{
        width: 30px;
        height: 30px;
        background-color: #000;
    }
    
    .button-img-check{
        background-color: #000; 
        border: none;
    }
}

@media (max-width: 1280px){
    .icon {
        display: flex;                /* Usar flexbox para centralização */
        justify-content: center;      /* Centralizar horizontalmente */
        align-items: center;          /* Centralizar verticalmente */
        width: 100px;                 /* Defina uma largura para a div */
        height: 80px;                /* Defina uma altura para a div */
        margin: auto;                 /* Centralizar a div na página, se necessário */
    }

    .textNameUser{
        margin-top: 200px;
        gap: 20px;
    }

    .userImg{
        width: 100px;
        height: 100px;
    }

    .nameUser  {
        margin-top: -10px;
        font-size: 1em;
    }
    
    .textServicosAgendados {
        margin-top: -10px; 
        font-size: 0.9rem;
    }

    .containerdeservicos{
        background-color: #373737;
        width: 85vw;
        height: 300px;
        border-radius: 7px;
        margin: auto;
    }

    /* .containerdeservicos{
        width: 85vw;
        height: 300px;
        background-color: #373737;
        border-radius: 7px;
        margin: auto;
        margin-top: -200px;
    } */

    .linhaSeparamento{
        width: 1px;
        height: 298px;
        margin-top: -58px;
        margin-right: 90px;
        background-color: #fff;
    }

    .textFeito{
        text-align: right;
        font-size: 0.780rem;
        padding: 10px;
        margin-top: 10px;
        margin-right: 5px;
    }
}
/* mainAdmin.css */